{% extends 'base.html.twig' %}

{% block title %}Portfolio
{% endblock %}

{% block body %}
	<!--! === MAIN === -->
	<main>
		<!--! === SHOWCASE === -->
		<section class="showcase" id="home">
			<div class="showcase__container container">
				<h1 class="showcase__title title tittle--main">Christopher Baudouin, Développeur Web</h1>
				<picture class="showcase__image">
					<source media="(min-width: 768px)" srcset="">
					<img src="" alt="">
				</picture>
			</div>
		</section>

		<!--! === PROJET === -->

		<section class="portfolio" id="portfolio">
			<div class="portfolio__container container">
				<div class="portfolio__metadata sction-metadata">
					<h2 class="title">Mes Projets</h2>
				</div>

				<div class="swiper myswiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="https://source.unsplash.com/500x500" alt="">
						</div>
						<div class="swiper-slide">
							<img src="https://source.unsplash.com/501x501" alt="">
						</div>
						<div class="swiper-slide">
							<img src="https://source.unsplash.com/502x502" alt="">
						</div>
						<div class="swiper-slide">
							<img src="https://source.unsplash.com/503x503" alt="">
						</div>
						<div class="swiper-slide">
							<img src="https://source.unsplash.com/504x504" alt="">
						</div>
						<div class="swiper-slide">
							<img src="https://source.unsplash.com/505x505" alt="">
						</div>
						<div class="swiper-slide">
							<img src="https://source.unsplash.com/506x506" alt="">
						</div>
					</div>
					<!-- Pagination -->
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section>

		<!--! === MES STACK === -->
		<section class="services" id="services">
			<div class="services__container container">
				<div class="services__metadata section-metadata">
					<h2 class="title">Mes stacks Technique</h2>
					<p class="section-metadata__description">Lorem ipsum, dolor aliquam accusantium accusamus illum aliquid possimus veritatis. Magnam veritatis voluptatibus odio quisquam, corrupti earum omnis repellat!</p>
				</div>
				<div class="services__image-wrapper">
					<img src="{{ asset('assets/images/stack1.jpg') }}" alt="">
				</div>
				<div class="services__list">
					<div class="services__list-divider">
						<article class="services__list-item">
							<i class="ri-code-s-slash-line services__list-icon"></i>
							<h3 class="services__list-title title">Front-End</h3>
							<p class="services__list-description">Lorem ipsum dolor sit amet  accusamus eaque quaerat molestias voluptatum amet porro praesentium eius.</p>
						</article>
						<article class="services__list-item">
							<i class="ri-database-2-line services__list-icon"></i>
							<h3 class="services__list-title title">Back-End</h3>
							<p class="services__list-description">Lorem ipsum dolor sit amet  accusamus eaque quaerat molestias voluptatum amet porro praesentium eius.</p>
						</article>
					</div>
					<article class="services__list-item">
						<i class="ri-tools-fill services__list-icon"></i>
						<h3 class="services__list-title title">Outils annexes</h3>
						<p class="services__list-description">Lorem ipsum dolor sit amet  accusamus eaque quaerat molestias voluptatum amet porro praesentium eius.</p>
					</article>
				</div>
			</div>
		</section>

		<!--! === ABOUT === -->

		<section class="about" id="about">
			<div class="about__container container">
				<div class="about__information">
					<h2 class="about__information-title title">Mon Profil</h2>
					<p class="about__information-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.  tempore vel cum nam necessitatibus itaque recusandae eaque veniam modi sint numquam.</p>
					<p class="about__information-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.  tempore vel cum nam necessitatibus itaque recusandae eaque veniam modi sint numquam.</p>
					<a href="#" class="btn btn--text btn-green">Lire plus</a>
				</div>
				<div class="about__images">
					<img src="{{ asset('assets/images/moi1.jpeg') }}" alt="" class="about__images-image about__images-image--top">
					<img src="{{ asset('assets/images/moi2.jpeg') }}" alt="" class="about__images-image about__images-image--bottom">
				</div>
			</div>
			<!--! === Rajouté un badge de dispo en vert a vec un rond devant === -->
		</section>

	</main>
{% endblock %}
